# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Environment
.env
.env.local

# Database
*.sqlite
*.sqlite3
db.sqlite3

# OS/Editor
.DS_Store
.idea/
.vscode/

# Rasa specific
models/
results/
*.tar.gz
*.log